/ClubWebApplication/nbproject/private/
/ClubWebApplication/build/
/ClubWebService/nbproject/private/
/ClubClientApp/nbproject/private/
/ClubClientApp/build/
/ClubWebApplicationClient/nbproject/private/
/ClubWebApplicationClient/build/